.Form {
    height: 70%;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba( 255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(202, 184, 184, 0.856);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 5px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    font-weight: bold;
}

.EmailForm {
    background-color: white;
}

.Submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.EmailForm {
    font-weight: bold;
}

.PasswordForm {
    font-weight: bold;
}

.Title {
    color: cyan;
}

.SignUp {
    border-color: #2d2074;
    bottom: 5;
    margin-left: 32%;
}

.SignUpButton {
    color: white;
    bottom: 10px;
}

.formcontrol {
    width: 115%;
}

.formcontrolusername {
    width: 1000%
}