.Form {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.EmailForm {
    background-color: white;
}

.Submit {
    display: flex;
    justify-content: center;
    align-items: center;
}